name: run

on:
  schedule:
    - cron:  '*/5 * * * *'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        ref: running_branch
    - name: Checkout private environment
      uses: actions/checkout@v2
      with: 
        repository: wbh123456/RingBell_environment
        token: ${{ secrets.MY_GITHUB_TOKEN }}
        path: env
    - name: Combine two repos
      run: |
        mv env/environment.py environment.py

    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install datetime
        pip install selenium
        pip install xlrd
        pip install xlutils
        pip install pymongo
    - name: Run
      run: |
        python main.py --release_mode